.about {
    text-align: center;
    margin: 50px 0;

    .section-title {
        border-bottom: 1px solid #000;
        margin-bottom: 50px;
        display: inline-block;
    }

    img {
        border-radius: 50%;
        width: 120px;
    }

    .contents {
        display: flex;
        justify-content: center;
    }

    .text {
        text-align: left;
        margin-left: 30px;
        width: 400px;
        font-size: 14px;
    }
}